@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#freeTry {
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
}

#formBox {
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
}

#btn {
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.09) inset;
}

input {
  caret-color: #5e54a4;
}
